In [312]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import rc
# rc('font',**{'family':'sans-serif','sans-serif':['Helvetica'],'size':20})
## for Palatino and other serif fonts use:
rc('font',**{'family':'serif','serif':['Palatino'],'size':14})
rc('text', usetex=True)

In [3]:
cd "C:\Users\Pierre\Desktop\Postdoc\TmVO4\TmVO4_heat-capacity\2018-08_TmVO4-LS5228\2020-03_TmVO4-LS5228-DR-HC180731"

C:\Users\Pierre\Desktop\Postdoc\TmVO4\TmVO4_heat-capacity\2018-08_TmVO4-LS5228\2020-03_TmVO4-LS5228-DR-HC180731

In [180]:
filenames = ["2020-03-11_TmVO4-LS5228-DR-HC180731_MCE_upsweep.dat","2020-03-11_TmVO4-LS5228-DR-HC180731_MCE_downsweep.dat"]
data = []
for fidx, filename in enumerate(filenames):
#     data.append(np.genfromtxt(filename, skip_header=2, names=True, dtype=None, delimiter='\t'))
    data.append(pd.read_csv(filename,header=0,skiprows=2,delimiter='\t'))

In [192]:
data
data[0].head()

   H (Oe)    T (K)
0  255.50  0.68649
1  283.58  0.68673
2  309.52  0.68713
3  335.49  0.68741
4  361.60  0.68766

In [194]:
# data[0]['H_Oe']# when importing data using np.genfromtxt
data[0]['H (Oe)']# when importing data using pandas

0        255.50
1        283.58
2        309.52
3        335.49
4        361.60
         ...
3544    6834.20
3545    6862.20
3546    6886.20
3547    6912.20
3548    6938.20
Name: H (Oe), Length: 3549, dtype: float64

In [195]:
fmaxd2mce = "2020-03-12_TmVO4-LS5228-DR-HC180731_MCE_maxd2mce.dat"
# maxd2mce = np.genfromtxt(fmaxd2mce, skip_footer=2, names=True, delimiter='\t')
maxd2mce = pd.read_csv(fmaxd2mce, skipfooter=2, header=0, delimiter='\t')
maxd2mce

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

      T     maxus      Hcus_Oe     maxds      Hcds_Oe
0   0.2  0.084935  6275.313965  0.114950  4998.095215
1   0.3  0.040303  6487.311035  0.042617  6222.476074
2   0.4  0.018915  6181.561523  0.033444  4998.489746
3   0.5  0.021613  5247.636230  0.013799  4094.660645
4   0.6  0.015862  5251.362793  0.011928  5350.751953
5   0.7  0.028247  5287.526367  0.023788  5356.692871
6   0.8  0.032500  5227.582031  0.029776  5304.387695
7   1.1  0.047690  5068.226074  0.033298  5193.626465
8   1.3  0.048954  4895.081543  0.027329  4945.820312
9   1.5  0.042775  4529.222168  0.026807  4667.906250
10  1.7  0.044634  4033.601318  0.020038  4220.229980

In [277]:
highTmaxd2mce = maxd2mce[maxd2mce['T']>1.0]
highTmaxd2mce.reset_index(drop=True,inplace=True)
# np.shape(highTmaxd2mce)
# type(highTmaxd2mce)
highTmaxd2mce

     T     maxus      Hcus_Oe     maxds      Hcds_Oe
0  1.1  0.047690  5068.226074  0.033298  5193.626465
1  1.3  0.048954  4895.081543  0.027329  4945.820312
2  1.5  0.042775  4529.222168  0.026807  4667.906250
3  1.7  0.044634  4033.601318  0.020038  4220.229980

In [278]:
sweeptypes = ['us', 'ds']# list both types of field sweeps (upsweep 'us' and downsweep 'ds') to access them in the following
Hcstr = []
Hclabel = []
for isr, sweeptype in enumerate(sweeptypes):
    Hcstr.append('Hc' + sweeptype + '_Oe')
    Hclabel.append('$H' + '_c^{' + sweeptype + '}')
Hclabel
for idx, row in highTmaxd2mce.iterrows():
    print(idx,row['Hcus_Oe'])

0 5068.22607421875
1 4895.08154296875
2 4529.22216796875
3 4033.60131835938

In [279]:
mcepb = [[],[]]# MCE phase boundary lists, one for upsweeps and one for downsweeps, each containing pairs of (Hc,Tc) values
# data[0][np.logical_and(np.around(data[0]['H_Oe'],1)==np.around(highTmaxd2mce['Hcus_Oe'][0],1),
#                        np.around(data[0]['T_K'],1)==np.around(highTmaxd2mce['T'][0],1)
#                       )# np.logical_and required to compute the truth value of two boolean arrats element-wise
#        ]
for isr in range(len(data)):# loop over sweeprate
    for idx, row in highTmaxd2mce.iterrows():
        mcepb[isr].append(data[isr][np.logical_and(np.around(data[isr]['H (Oe)'],1)==np.around(row[Hcstr[isr]],1),
                                               np.around(data[isr]['T (K)'],1)==np.around(row['T'],1)
                                                  )# np.logical_and required to compute the truth value of two boolean arrats element-wise
                                   ]
                         )# 
#     Tc = data[data[0]['H_Oe']==highTmaxd2mce['Hcus_Oe'][idx]]# & data[0]['T_K']==T
#     print(T,highTmaxd2mce['Hcus_Oe'][idx],highTmaxd2mce['Hcds_Oe'][idx])

In [280]:
mcepb[0]
# mcepb[0][0].values[0]+(0,0.1)
# type(mcepb[0][0])

[      H (Oe)   T (K)
 3048  5068.2  1.1036,
       H (Oe)   T (K)
 3185  4895.1  1.3095,
       H (Oe)   T (K)
 3313  4529.2  1.5139,
       H (Oe)   T (K)
 3436  4033.6  1.7171]

In [330]:
%matplotlib qt
# plot figure in external window
plt.figure(figsize=(5,5))
sign = ['+', '-']
for i in [0,1]:
    plt.plot(data[i]['H (Oe)'],data[i]['T (K)'],'.',label=f'{sign[i]}20 Oe/s')
# plt.xlim(3200,6800)
# plt.ylim(1.0,1.8)
plt.axis([3200, 6800, 1.0, 1.8])
plt.xticks(np.arange(3500,7000, step=1000))  # Set label locations.
plt.yticks(np.arange(1.0,1.9, step=0.2))  # Set label locations.
plt.xlabel('$H$ (Oe)',**{'fontsize':20})
plt.ylabel('$T$ (K)',**{'fontsize':20})
ax = plt.gca()
ax.tick_params(direction='in')
arrowcolor = ['blue','orange']
for isr in range(len(data)):# loop over sweeprate
    for idx, row in highTmaxd2mce.iterrows():
        arrow = ax.annotate('', xy=mcepb[isr][idx].values[0]+(0,0.01),
                            xytext=mcepb[isr][idx].values[0]+(0,0.1),
                            arrowprops=dict(linewidth=.5,facecolor=arrowcolor[isr],edgecolor='none')
                           )
ax.legend(handletextpad=0)
# plt.show()
plt.tight_layout(pad=0.2)
plt.savefig('2020-03-12_TmVO4-LS5228-DR-HC180731_MCE_20Oeps_1p1K-1p7K.pdf')